body {
    background: #0b4f6c;
    font-family: Arial;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
}